
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
} 


<style>

    .square-button {
        width: 100%; /* Сделаем ширину кнопки равной высоте */
        height: 100%; /* Сделаем высоту кнопки равной высоте */
        border-radius: 0; /* Убираем все скругления */
    }

    .textarea {
        height: 1.8em;
        width: 100%;
        box-sizing: border-box;
        border: none;
        
    }
    
   

    .square-button svg {
        pointer-events: none; /* Чтобы иконка не мешала нажатию кнопки */
    }
</style>



    <div class="navibar container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">


            <li class="naviItem-model"> 
                <a class="model-bar nav-link d-flex align-items-center gap-2">
                   Marka
                </a>
                <ul class="model-menu nav flex-column" style="display: none">

                    @foreach (var category in Model.Products)
                    {
                        @foreach(var prod in category.products)
                        {
                        <li>

                            <a class="category-name nav-link d-flex align-items-center ms-2 pt-0" href="#" @*  href="/Admin/ProductList?categoryId=@category.Category.Id" *@>
                                    @prod.manufacturer
                            </a>
                        </li>
                        }
                    }
                    </ul>
            </li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
@foreach(var category in Model.Products)
{
    <div class="d-flex align-items-center mt-1">
        <h4>@category.Category.name</h4>
        <h4>@category.Category.Id</h4>

        </div>
   
        
        <table class="col-lg-8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marka</th>
                <th>Nazwa</th>
                <th>Cena</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in category.products)
            {

                <tr>
                    <td>@product.Id</td>
                    <td>@product.manufacturer</td>
                    <td>@product.name</td> 
                    <td>@product.price</td> 
                    
                   
                </tr>


            }

            <tr>
                <td>
                </td>
                <td>
                    <textarea id="addManufacturer" class="textarea"></textarea>
                </td>
                <td>
                    <textarea id="addName" class="textarea"></textarea>
                </td>
                <td>
                    <textarea id="addPrice" class="textarea"></textarea>
                </td>
                <td>
                    <form id="addProduct" asp-controller="Admin" asp-action="addProduct" method="post">
                         <input type="hidden"  name="categoryId" value="@category.Category.Id" />
                        <input type="hidden" id="manufacturer" name="manufacturer" />
                        <input type="hidden" id="name" name="name" />
                        <input type="hidden" id="price" name="price" />
                        <button type="submit" class="btn btn-secondary square-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </button>
                    </form>

                </td>
            </tr>
        </tbody>
    </table>

   
}

<script>
    document.getElementById("addProduct").addEventListener("submit", function (event) {
       // Получаем значение из textarea
       var textareaManufacturer = document.getElementById("addManufacturer").value;
       var textareaName = document.getElementById("addName").value;
       var textareaPrice = document.getElementById("addPrice").value;
       // Помещаем это значение в скрытое поле
       document.getElementById("manufacturer").value = textareaManufacturer;
       document.getElementById("name").value = textareaName;
       document.getElementById("price").value = textareaPrice;
    });
    
    </script>