

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
} 


<style>

    .square-button {
        width: 100%;
        height: 100%;
        border-radius: 0; 
    }

    .textarea {
        height: 1.8em;
        width: 100%;
        box-sizing: border-box;
        border: none;
        
    }
    
   

    .square-button svg {
        pointer-events: none; 
    }

    
    .filtr-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }

    

    .filter-item {
        margin-top: 0.5rem; 
    }

        .filter-item input {
            width: 7em; 
        }

</style>



    <div class="navibar container">
    <div class="d-flex flex-wrap align-items-center justify-content-between ">
            <div>
            <form asp-controller="Admin" asp-action="Filter" name="filterForm" method="post" class="d-flex align-items-center">
            <ul class=" nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
             
                @foreach(var cater in Model.Products)
                {
                       <input type="hidden" name="categoryId" value="@cater.Category.Id" />
                }
            
            <li class="naviItem-model"> 
                <a class="model-bar nav-link d-flex align-items-center gap-2">
                   Marka
                </a>
                   
                    @foreach (var products in Model.UniqueProd)
                {
                <ul class="model-menu nav flex-column" @* style="display: none" *@>
                        @foreach (var listProd in products.products)
                       {
                            <div class="checkbox ">

                                <input type="checkbox" name="selectedModels" value="@listProd.manufacturer" @(listProd.IsMatchingManufacturer ? "checked" : "")>
                                    <label>
                                      
                                    @listProd.manufacturer
                                </label>


                            </div> 
                       }
                </ul>
                }
            </li>
           
       
                <li class="naviItem-cena">
                <div class="filtr-container">
                    <a class="price-bar nav-link d-flex align-items-center gap-2">Cena</a>

                    <div class="filter-item mt-1">
                        <label for="price-from"></label>
                        <input type="number" id="price-from" name="priceFrom" placeholder="Od" min="0" >

                    </div>
                    <div class="filter-item mt-1">
                        <label for="price-to"></label>
                        <input type="number" id="price-to" name="priceTo" placeholder="Do" min="0">

                    </div>
                </div>
                
               
                </li>
            <li class="naviItem-date">
                <div class="filtr-container">
                    <a class="date-bar nav-link d-flex align-items-start gap-2">Data</a>

                    <div class="filter-item mt-1">
                        <label for="from-date">Od</label>
                        <input type="text" id="from-date" name="fromDate" placeholder="rrrr-mm-dd" min="0" pattern="\d{4}-\d{2}-\d{2}">

                    </div>
                    <div class="filter-item mt-1">
                        <label for="to-date">Do</label>
                        <input type="text" id="to-date" name="toDate" placeholder="rrrr-mm-dd" min="0" pattern="\d{4}-\d{2}-\d{2}">

                    </div>

                </div>
               
            </li>

            <li class="d-flex align-items-center">
                    <div class="m-2 "> <button type="submit" onclick="submitForm()" class="btn btn-warning">Filtruj</button></div>
                </li>
           
            </ul>
            </form>
        </div>
        @foreach(var category in Model.Products)
        {
            <div class="ms-auto">
            <form asp-controller="Admin" asp-action="Search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" name="query" placeholder="Szukaj po nazwie..." aria-label="Search">
               <input type="hidden" name="categoryId" value="@category.Category.Id"/>
                <div class="m-1"></div>
                <button class="btn btn-outline-success" type="submit">Szukaj</button>
            </form>
        </div>
            
        }
       
       

            
        </div>
    </div>
@foreach(var category in Model.Products)
{
    <div class="d-flex align-items-center mt-1">
        <h4>@category.Category.name</h4>
        

        </div>
   
        
        <table class="col-lg-10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marka</th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Data dodania</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var product in category.products)
            {

                <tr>
                    <td>@product.Id</td>
                    <td>@product.manufacturer</td>
                    <td>@product.name</td> 
                    <td>@product.price</td>
                    <td>@product.addDate.ToString("yyyy-MM-dd")</td>


                </tr>

            }

            <tr>
                <form id="addProductForm" asp-controller="Admin" asp-action="AddProduct" method="post">
                    <input type="hidden" name="categoryId" value="@category.Category.Id" />
                <td></td>
                <td class="flex-container">
                    <input type="text" id="addManufacturer" name="manufacturer" placeholder="Marka" style="width: 100%; border: none;">
                </td>
                <td class="flex-container">
                    <input type="text" id="addName" name="name" placeholder="Nazwa" style="width: 100%;border: none;">
                </td>
                <td class="flex-container">
                    <input type="text" id="addPrice" name="price" placeholder="Cena" style="width: 100%;border: none;">
                </td>
                <td>
                    <button type="submit" class="btn btn-secondary square-button">
                        <span>Dodaj</span>
                    </button>
                </td>
                </form>
            </tr>
    
        </tbody>
    </table>

   }


